.logo-container{
    display:flex;
    background-color: #19223B;
    height:22vh;
    margin:auto;
}
#logo{
    height:22vh;
}
nav{
    background-color: #05FFD2;
    padding-top: 2vh;
    padding-left: 3vw;
    padding-right:3vw;
    padding-bottom: 2vh;
    justify-content: space-between;
    font-size: 1.5rem;
}
.navbar-brand{
    font-size: 1.5rem;
}
.nav-item{
    padding-left: 6vw;
}
.btn{
    align-self: flex-end;
    background-color: #19223B;
    border-radius: 30px;
    padding: 1rem 2rem 1rem 2rem;
}
.btn:hover{
    background-color: #405CAB;
}
.navbar-nav{
    float:left;
}

input{
    margin-left: 10px;
    margin-right: 20px;
}
app-fixedmenu{
    display: none;
}
@media screen and (max-width: 426px) {
    nav{
        padding: 1 2 1 2 px;
        display: flex;
    }
    .navbar-brand{
        order: 2;
        padding-right:4% ;
        padding-left:1% ;
        margin-left: 0%;
    }
    .navbar-toggler{
       order: 1;
        width: 20%;
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .btn {
        order: 3;
        border-radius: 24px;
        padding: 1rem 1rem 1rem 1rem;
        margin-right: 20%;
        margin-left: -5%

    }
    .img-carritopeque{
        order: 4;
        margin-left: -17%;
        margin-right: -30%;
        width: 50%;
        padding: 0%;
    }
    /* on the fixedmenu */
    app-fixedmenu{
        width: 100%;
        display:block;
        margin: 0;
    }

}
