<footer class="footer-distributed">

    <div class="footer-right">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a class="link-1" href="#">Home</a>

        <a href="#">Burgers</a>

        <a href="#">Sandwiches</a>

        <a href="#">Drinks</a>

        <a href="#">Registrarse</a>
      </p>
        <div class="text-center">
         <p>Burger Palace &copy; 2022</p>
        </div>
    </div>

  </footer>