.board{
    margin:10%;
    width:80vw;
    height:fit-content;
    border:5px solid #19223B;
    padding: 2rem;
    text-align: center;
}
.welcome-header{
    color: #19223B;
    font-size: 2rem;
}
form{
    margin-top: 6vh;
}
.row{
    margin:1rem;
}
label{
    color: #19223B;
    font-size:1.5rem;
}
p{
    color: #19223B; 
}
.small-label{
    font-size: 17px;
}
input{
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom:1px solid #888F85;
}
input:focus{
    box-shadow:none;
}
.small-label{
    margin-top:2rem;
}
button{
    background-color:#EAB223;
    border: #816215;
    font-size: 2rem;
    border-radius: 30px;
}
button:hover{
    background-color: #19223B;
    border: #06090f;
}
@media screen and (max-width: 700px) {
    .row{
        flex-direction: column;
}
    label{
        font-size: 1.2rem;
    }
    .welcome-header{
        font-size: 1.6rem;
    }
    button{
        font-size: 1.7rem;
    }
}