<section>
    <div class="board">
        <h1 class="welcome-header">Welcome to Burger Palace</h1>
        <p>Sign in with your account or create one if you don't have one yet to start enjoying our offers.</p>
        <form #data="ngForm" (ngSubmit)="getUserData(data)" name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
            <div class="row">
                <div class="col">
                    <label>Name</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="name" placeholder="Your name" ngModel name="name" [(ngModel)]="form.name">
                </div>
                <div class="col">
                    <label>Phone number</label>
                </div>
                    <div class="col">
                  <input type="text" class="form-control"id="phoneNumber" placeholder="Your phone number" required ngModel name="phone" [(ngModel)]="form.phone">
                </div>
              </div>
            <div class="row">
                <div class="col">
                    <label>Email</label>
                </div>
                <div class="col">
                    <input type="email" class="form-control" id="email" placeholder="youremail@email.com" required ngModel name="email" [(ngModel)]="form.username">
                </div>
                <div class="col">
                    <label>Address</label>
                </div>
                    <div class="col">
                  <input type="text" class="form-control" id="address" placeholder="Your address" required ngModel name="address" [(ngModel)]="form.address">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Password</label>
                </div>
                <div class="col">
                  <input type="password" class="form-control" id="address"placeholder="Your password" required ngModel name="password" [(ngModel)]="form.password">
                </div>
                <div class="col">
                    <label>Repeat password</label>
                </div>
                    <div class="col">
                  <input type="password" class="form-control" id="password" placeholder="Your password again" required ngModel name="confirmPassword" [(ngModel)]="form.confirmPassword">
                </div>
              </div>
              <div class="row">
                    <label class="small-label">
                        <input type="checkbox" id="privacyInput" name="privacy" value="I accept the terms and conditions" required>
                        I accept the <a href="#">terms and conditions</a> of the privacy policy
                    </label>
                </div>
                <button name="submit" type="submit" class="btn btn-primary submit-btn" id="add-user-form">Sign up</button>
                <!-- <button name="submit" type="submit" class="btn btn-primary" id="add-user-form" (click)="createUser(data)">Sign up</button> -->
        </form>
    </div>
</section>
