<section>
    <div class="board">
        <h1 class="welcome-header">Bienvenid@ a Burger Palace</h1>
        <p>Accede con tu cuenta o crea una si aún no la tienes para empezar a disfrutar de nuestras ofertas.</p>
        <form>
            <div class="row">
                <div class="col">
                    <label>Name</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Your name">
                </div>
                <div class="col">
                    <label>Surname</label>
                </div>
                    <div class="col">
                  <input type="text" class="form-control" placeholder="Your surname" required>
                </div>
              </div>
            <div class="row">
                <div class="col">
                    <label>Phone number</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Your phone number" required>
                </div>
                <div class="col">
                    <label>Email</label>
                </div>
                    <div class="col">
                  <input type="email" class="form-control" placeholder="youremail@email.com" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Address</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="City" required>
                </div>
                <div class="col">
                    <input type="checkbox" id="privacyInput" name="privacy" value="I accept the terms and conditions" required>
                </div>
                <div class="col">
                    <label class="small-label">I accept the terms and conditions of the privacy policy</label>
                </div>
            </div>
            <button name="submit" type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</section>
