<section>
    <div class="board">
        <h1 class="welcome-header">Welcome to Burger Palace</h1>
        <p>Sign in with your account or create one if you don't have one yet to start enjoying our offers.</p>
        <form>
            <div class="row">
                <div class="col">
                    <label>Name</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Your name">
                </div>
                <div class="col">
                    <label>Surname</label>
                </div>
                    <div class="col">
                  <input type="text" class="form-control" placeholder="Your surname" required>
                </div>
              </div>
            <div class="row">
                <div class="col">
                    <label>Phone number</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Your phone number" required>
                </div>
                <div class="col">
                    <label>Email</label>
                </div>
                    <div class="col">
                  <input type="email" class="form-control" placeholder="youremail@email.com" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Address</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Your address" required>
                </div>
                <div class="col">
                    <label>Password</label>
                </div>
                    <div class="col">
                  <input type="password" class="form-control" placeholder="Your password" required>
                </div>
              </div>
              <div class="row">
                    <label class="small-label">
                        <input type="checkbox" id="privacyInput" name="privacy" value="I accept the terms and conditions" required>
                        I accept the <a href="#">terms and conditions</a> of the privacy policy
                    </label>
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</section>
