<app-header></app-header>
<div class="container">
    <!-- versión de escritorio y tablet -->
    <div class="row">
      <div class="col text-center columna1">
        <img src="assets/img/cart.png" class="cart-img">
      </div>
      <div class="col text-center align-self-center columna2">
        <!--PRODUCTO-name-->
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item border-0 grupo align-self-center img-col"></li>
          <li class="list-group-item border-0 grupo align-self-center fw-bold">Name</li>
          <li class="list-group-item border-0 grupo align-self-center fw-bold">Price</li>
          <li class="list-group-item border-0 grupo align-self-center fw-bold">quantity</li>
          <li class="list-group-item border-0 grupo align-self-center fw-bold">Total</li>
        </ul>
        <!--PRODUCTO1-->
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item border-0 grupo align-self-center img-col"><img src="assets/img/amirali-mirhashemian-88YAXjnpvrM-unsplash.png"></li>
          <li class="list-group-item border-0 grupo align-self-center">burgers</li>
          <li class="list-group-item border-0 grupo align-self-center">10€</li>
          <li class="list-group-item border-0 grupo align-self-center">2</li>
          <li class="list-group-item border-0 grupo align-self-center">20€</li>
          
        </ul>
        <!--PRODUCTO2-->
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item border-0 grupo align-self-center img-col"><img src="assets/img/amirali-mirhashemian-88YAXjnpvrM-unsplash.png"></li>
          <li class="list-group-item border-0 grupo align-self-center">burgers</li>
          <li class="list-group-item border-0 grupo align-self-center">10€</li>
          <li class="list-group-item border-0 grupo align-self-center">2</li>
          <li class="list-group-item border-0 grupo align-self-center">20€</li>
        </ul>
        <!--PRODUCTO3-->
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item border-0 grupo align-self-center img-col"><img src="assets/img/amirali-mirhashemian-88YAXjnpvrM-unsplash.png"></li>
          <li class="list-group-item border-0 grupo align-self-center">burgers</li>
          <li class="list-group-item border-0 grupo align-self-center">10€</li>
          <li class="list-group-item border-0 grupo align-self-center">2</li>
          <li class="list-group-item border-0 grupo align-self-center">20€</li>
        </ul>
        <!--PRODUCTO-pagar-->
        
        <button type="button" class="btn btn-danger btn-lg btn-outline-dark">Buy</button>
      </div>
    </div>
</div>

    