<app-header></app-header>
<div class="container">
    <!-- versión de escritorio y tablet -->
    <div class="row">
      <div class="col text-center columna1">
        <img src="assets/img/cart.png" class="cart-img">
      </div>
      <div class="col text-center align-self-center columna2">
        <!--PRODUCTO-name-->
        <ul *ngIf="!isCheckout" class="list-group list-group-horizontal">
          <li class="list-group-item border-0 grupo align-self-center img-col"></li>
          <li class="list-group-item name border-0 grupo align-self-center fw-bold">Name</li>
          <li class="list-group-item border-0 grupo align-self-center fw-bold">Price</li>
          <li class="list-group-item border-0 grupo align-self-center fw-bold">Qt</li>
          <li class="list-group-item border-0 grupo align-self-center fw-bold">Total</li>
          <li class="list-group-item border-0 grupo align-self-center fw-bold">Remove</li>
        </ul>
        <!--PRODUCTO1-->
        <ul class="list-group list-group-horizontal" *ngFor="let item of cartItem">
          <li class="list-group-item border-0 grupo align-self-center img-col"><img class="burger-image" src="{{item.food.img}}"></li>
          <li class="list-group-item name border-0 grupo align-self-left">{{item.food.name}}</li>
          <li class="list-group-item border-0 grupo align-self-right">{{item.food.price}}</li>
          <li class="list-group-item border-0 grupo align-self-right"><input class="quantity-input" id="quantity-number" type="number" min="1" max="7" #quantityEdit (change)="changeQuantity(item, quantityEdit.value)" value="{{item.quantity}}"></li>
          <li class="list-group-item border-0 grupo align-self-right">{{item.food.price*item.quantity}}</li>
          <li class="list-group-item border-0 grupo align-self-right"><button class="removeItemBtn" (click)="removeFromCart(item)"><img src="../assets/img/delete-button.png"/></button></li>
        </ul>
        <p *ngIf="!isCheckout" class="total-price"><b>Total: </b>{{totalValue}}€</p>
        <!--PRODUCTO-pagar-->
        <div *ngIf="!isCheckout" class="button-container">
          <button *ngIf="cartItem.length > 0" type="button" class="btn btn-clear btn-lg btn-outline-dark" (click)="clearCart()">Clear</button>
          <button *ngIf="cartItem.length > 0 && isLoggedIn" type="button" class="btn btn-danger btn-lg btn-outline-dark" (click)="checkout()">Buy</button>
          <button *ngIf="cartItem.length > 0 && !isLoggedIn" type="button" class="btn btn-danger btn-lg btn-outline-dark" routerLink="/login">Login</button>
        </div>
        <div *ngIf="isCheckout" class="container">
          <!-- versión de escritorio y tablet -->
          <div class="row">
            <h4>Payment received. Enjoy your food!</h4>
          </div>
        </div>
      </div>
    </div>
</div>

    